<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <todo-item
            v-for="list in booklist"
            v-bind:todo="list"
            v-bind:key="list.price">
        </todo-item>

        <p v-html="name.split('').reverse().join('')"></p>
        <p>{{name.split('').reverse().join('')}}</p>
        <input type="text" v-model="name">
    </div>
</body>
<script src="./js/vue.js"></script>
<script>
    Vue.component('todo-item',{
        props:['todo'],
        template:'<li>{{todo.name}}</li>'
    });

    var app = new Vue({
        el:"#app",
        data:{
            booklist:[
                {name:'php',price:24},
                {name:'java',price:24},
                {name:'redis',price:24}
            ],
            name:'fdsf'
        }
    });

    /*app.$watch('name',function(newvalue,oldvalue){
        alert('newvalue:'+newvalue+' oldvalue:'+oldvalue);
    })*/
</script>
</html>